h1{
    display:flex;
    justify-content:center;
    color:white;
    padding: 15px;
    background-color:#E75480;
    text-shadow: 2px 2px #ff0000;
    border: 1px solid white;
    }
  body{
    background:pink;
  }
  p{
    padding: 15px;
    text-shadow: 2px 2px #ff0000;
    display:flex;
    justify-content:center;
    font-size:40px;
    color:darkred;
    }
  .styled-table{
    background-color:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
    border-collapse:collapse;
    margin-left:35px;
    font-size: 1em;
    min-width:400px;
    width:1025px;
    height:200px;
    border-radius:5px;
    border: 2px solid #E75480;
    margin-left: 15%;
      }
  thead
  {
    color:white;
    padding:5px;
  }
  tr{
    background-color:pink;
    border: 1px solid white;
    text-align: center;
    font-family: system-ui;
  }
  td{
    border: 1px solid pink;
    background-color: white;
  }
  .paragraph{
    display:flex;
    justify-content:left;
    font-size:25px;
    margin-left:10px;
    font-family: system-ui;
    text-shadow:1px 1px black;
    
  }
  @media screen and (max-width:460px){
    h1{
    display:flex;
    justify-content:center;
    color:pink;
    padding: 15px;
    background-color:aquamarine;
    text-shadow: 2px 2px white;
    border: 1px solid red;
    }
  body{
    background:purple;
  }
  p{
    padding: 15px;
    text-shadow: 2px 2px #ff0000;
    display:flex;
    justify-content:center;
    font-size:20px;
    color:yellow;
    }
  .styled-table{
    background-color:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
    border-collapse:collapse;
    margin-left:5px;
    font-size: 1em;
    width:360px;
    height:200px;
    border-radius:5px;
    border: 2px solid #E75480;
      }
  thead
  {
    color:red;
    padding:5px;
  }
  tr{
    background-color:yellow;
    border: 1px solid white;
    text-align: center;
    font-family: system-ui;
  }
  td{
    border: 1px solid pink;
    background-color: white;
  }
  .paragraph{
    display:flex;
    justify-content:left;
    font-size:25px;
    margin-left:10px;
    font-family: system-ui;
    text-shadow:1px 1px black;
    color:white;
  }
    li{
      color:white;
    }
  }